
$color-primary-1: #2ab2af;
$color-primary-2: #c0df34;
$color-primary-3: #3e52a3;

$color-neutral-1: #e5eff5;
$color-neutral-2: #98a6bd;
$color-neutral-3: #ffffff;




body {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  background-color: $color-neutral-1;
}

div {
  padding: 30px 20px 30px 20px;
  border-radius: 10px;
  width: 600px;
}


/*Top Container*/
.top-container {
  background-color: $color-neutral-3;
}
.top-heading {
  color: $color-primary-1;
  font-size: 700;
}

.top-sub-heading {
  color: $color-primary-2;
  font-size: 400;
}

.top-benefit {
  color: $color-neutral-2;
}

/*Pricing*/
  .pricing {
    background-color: $color-primary-1;
  }

  .pricing-title {
    color: $color-neutral-3;
  }

  .pricing-price {
    color: $color-neutral-3;
  }

  .pricing-access {
    color: $color-neutral-3;
  }

/*Service*/
  .service {
    background-color: $color-primary-1;
  }

  .service-title {
    font-size: 400;
    color: $color-neutral-3;
  }

  .service-list {
  list-style: none;
  color: $color-neutral-3;
  }
/*Footer*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: $color-primary-3;
}
